<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liam Loves Golf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- git push panda main  -->
    
    <%= render '/layouts/header' %>
    
    
    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<h1>I’m the Footer</h1>
</footer>

    
    
    
    
    
    
    
  </body>
</html>
