<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liam Loves Golf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    
    
    
    <header class="headSec">
      <h1>Liam’s Golf Store</h1>
      
      <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Help", "/help" %></li>
        <li><%= link_to "Contact", "/contact" %></li>
        
      </ul>
      
      
    </header>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<h1>I’m the Footer</h1>
</footer>

    
    
    
    
    
    
    
  </body>
</html>
